
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background-image: url(https://bigfoto.name/photo/uploads/posts/2023-03/1678270501_bigfoto-name-p-bolotnii-tsvet-34.jpg);
 
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
 align-items: center;
   background: rgb(255, 255, 255);
  padding: 15px 20px;
border: 6px solid rgb(115, 144, 2);
  height: 300px;
}

.logo {
  font-size: 39px;
  font-weight: bold;
  color: rgb(0, 255, 8);
  margin-bottom: 6%;
margin-left: 40%;
  background-color: #ffffff;
}

 

.burger {
  width: 35px;
  height: 25px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1100;
  display: none;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #00ff88, #00cfff);
  border-radius: 5px;
  transition: 0.4s;
}

.burger span:nth-child(1) { top: 0; }
.burger span:nth-child(2) { top: 10px; }
.burger span:nth-child(3) { bottom: 0; }

.burger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 10px;
}



.hero {
  background:none;
  color: white;
  padding: 50px 20px;
  text-align: center;
  z-index: 10;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    animation: sideUp 1s ease-out;
    z-index: 10000;
    
}
.item {
 
           
    width: 25%;
 background-color: rgb(0, 0, 0);
height: 10%;
    border-radius: 60px;
    padding: 10px;
    text-align: center;
transition: all 0.5s ease;
box-shadow: 0 0 0 3px #00ff11, 0 12px 25px rgb(79, 130, 9);
animation: sideUp 1s ease-out;


}




   
.item:hover {
  
  transform: translateY(-19px);
  box-shadow: 0 0 0 3px #5f7208;
    
}




.item img {
    width: 100%;
    border-radius: 50px;
 
    
}



.item h2 {
    font-size: 10px;
    margin: 10px 0 5px;
    border-radius: 80px;
    color: #ffffff;
   
}


.item p {
    color: #ffffff;
    font-size: 25px;
}


.item button {
    background-color: #4cab08;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}











.item button:hover {
    background-color: #00ff6a;
    transition: 0.4;
}
.cont1{
  width: 95%;
    background-color:rgba(0,0,0,0.15);
    backdrop-filter: blur(25px);
   height: 80%;
   margin-left: 3%;
    border-radius: 20px;
    padding-bottom: 10px;
    padding: 20px;
   z-index: 1000;
}
.button-cont{
 
}
.hero h1 {
  font-size: 48px;
  color: #ffffff;
}
.logo img{
  width: 45%;
  height: 49%;
 margin-top: -10%;
  position: absolute;
  margin-left: -15%;
  z-index: 1;
}


/* SECTIONS */
.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  
}

.section h2 {
  margin-bottom: 15px;
}
 


.logotip {
  color: #000000;
  margin-left: -12%;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 50%;
  box-shadow: 10px rgb(255, 255, 255);
  text-shadow: 10px 10px 10px #757474;
  justify-content: end;
}


.btn1{
  width: 30%;
  height: 60px;
  background-color:rgba(255, 0, 0, 0.873);
  border-radius: 20px;
  color: #ffffff;
  font-size: 23px;
}
.btn2{
  width: 30%;
  height: 60px;
  background-color:rgba(255, 0, 0, 0.873);
  border-radius: 20px;
  color: #ffffff;
   font-size: 23px;
}
.gray {
  background: #f4f4f4;
  border-radius: 20px;
  padding-right: 10px;
}
.li{
  padding: 10px;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  padding: 20px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.logo p{
  color: #000000;
  font-size: 25px;
  z-index: 100;
  position: absolute;
  margin-top: 9%;
  margin-left: -4%;
  letter-spacing: 7px;
  font-style: italic;
  text-decoration: solid;
}
/* ADAPTIVE */
@media (max-width: 786px) {
  
  .header{
    height: 288px;
  }


  
.logo{
  margin-left: 32%;
}
  .hero h1 {
    font-size: 34px;
  }
  .cont1 img{
    width: 70%;
      height: 300px;
  }
  .cont1 {
    width: 110%;
 margin-left: -5%;
 padding: 0px;

  }
  .btn2{
    font-size: 12px;
  }
   .btn1{
    font-size: 12px;
  }
  .item{
    width: 150px;
   border: none;
   border-radius: 10px;
  }
  .item p{
    font-size: 20px;
  }
  .catalog{
    gap: 23px;
  }
  .item img{
    width: 100%;
    border-radius: 10px;
  }
  .logo img{
    width: 85%;
    height: 38%;
    margin-top: -36%;
    margin-left: -26%;
  
   
  }
  .logo p{
    margin-top: 25%;
    font-size: 4vh;
   margin-left: -1%;
   font-size: 12px;
   letter-spacing: normal;
  }
  .logor{
    color: black;
    
  }
}